/** User Page **/
#points-level {
	margin: 0;
	left: 10px;
	border-radius: .5em 0 0 .5em;
	position: relative;
	top: .5em;
	left: 1em;
}

#honorific-level {
	font-size: 11px;
	text-align: center;
	float: left;
	padding: 1px 5px;
	margin: 0;
	background-color: #eeaa777f;
	border-radius: 0 .5em .5em 0;
	position: relative;
	top: .5em;
	left: 1em;
}

.profile-actions {
	color: #0000;
	padding-top: 0.5em;
}

.profile-actions a {
	border-radius: .35em;
	box-shadow: 3px 3px 3px #4567;
	background-color: #6b0;
	padding: .2em .5em;
	color: #fff !important;
}

#profile-toggle-button {
	top: 0px;
	border-radius: .35em .35em .35em .35em;
	box-shadow: 3px 3px 3px #456;
}

#profile-toggle-button a {
	text-decoration: none;
}

#profile-toggle-button a:hover {
	color: #c07c00;
}

#profile-title {
	background-image: linear-gradient(to right, rgba(64,192,256,0.5), rgba(64,192,256,0));
	padding: .1em;
}

/* title colors */
#profile-tcolor1 {
	/* red */
	background-image: linear-gradient(to right, rgba(256,96,64,0.5), rgba(256,96,64,0));
}

#profile-tcolor2 {
	/* green */
	background-image: linear-gradient(to right, rgba(128,256,64,0.5), rgba(128,256,64,0));
}

#profile-tcolor3 {
	/* blue */
	background-image: linear-gradient(to right, rgba(64,96,256,0.5), rgba(64,96,256,0));
}

#profile-tcolor4 {
	/* yellow */
	background-image: linear-gradient(to right, rgba(256,228,16,0.5), rgba(256,228,16,0));
}

#profile-tcolor5 {
	/* teal */
	background-image: linear-gradient(to right, rgba(16,228,256,0.5), rgba(16,228,256,0));
}

#profile-tcolor6 {
	/* pink */
	background-image: linear-gradient(to right, rgba(228,16,256,0.5), rgba(228,16,256,0));
}

#profile-tcolor7 {
	/* silver */
	background-image: linear-gradient(to right, rgba(168,176,184,0.5), rgba(168,176,184,0));
}

#profile-tcolor8 {
	/* brown */
	background-image: linear-gradient(to right, rgba(64,16,4,0.5), rgba(64,16,4,0));
}