#universalLanguageSelector {
	margin: 0 0 0 5px;
	top: 0;
	position: relative;
	float: right;
}
#universalLanguageSelector ul {
	padding-left: 0.2em !important;
}
#universalLanguageSelector ul li {
	font-size: 1.4em;
	font-family: sans-serif;
	height: 35px;
	a {
		color: white;
		text-decoration: none;
		&:visited {
			color: white;
		}
	}
	&:hover {
		background: #EF574F;
		max-height: 35px;
	}
}