#universalLanguageSelector {
	float: right;
	top: 0.3em;
	position: relative;
	margin-right: 0.2em;
	font-family: sans-serif;
	font-size: 1.4em;
	&:hover {
		background: #EF574F;
		max-height: 35px;
		.user-dmenu-content {
			display: block;
		}
	}
}