#universalLanguageSelector {
	float: right;
	top: 0;
	position: relative;
	height: 35px;
	margin: 0 0 0 5px;
	font-size: 9.5pt;
    font-family: sans-serif;
	padding-left: 0.2em;
	&:hover {
		background: #EF574F;
		max-height: 35px;
		.user-dmenu-content {
			display: block;
		}
	}
}