/*
** MediaWiki 'Cali' style sheet for CSS2-capable browsers.
** License: GPL (http://www.gnu.org/copyleft/gpl.html)
*/

body {
	background: #FFFFFF;
	text-align: center;
	margin: 0px;
	font-family: Arial;
	font-size: 10px;
}

/**
 * Revert https://gerrit.wikimedia.org/r/#/c/151395/ because it's ugly and
 * unwanted for this skin, but we get it as a "nice" side-effect of loading
 * MonoBook's main RL module...
 * 
 * Additionally, it's a hack for the VisualEditor page preview so text isn't centered
 */
div.mw-body-content {
	border: 0;
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	text-align: left;
}

#container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0pt;
	text-align: left;
	font-size: small;
}

#siteNotice {
	font-family: sans-serif;
	line-height: 1.5em;
	border: none;
	padding: 0 0.9em 1em 0.9em !important;
	top: -10px;
}

/* Interwiki Styling */
#article-text a.extiw,
#article-text a.extiw:active {
	color: #36b;
}

/* External links */
#article-text a.external {
	color: #36b;
}

/* Hide [[MediaWiki:Tagline]] by default, just like how MonoBook & friends do it */
p.subtitle {
	display: none;
}

/* Styling for [[MediaWiki:Noarticletext]], the message shown on nonexistent pages */
div.noarticletext {
	border: 1px solid #ccc;
	background: #fff;
	padding: .2em 1em;
	color: #000;
}

/** Buttons **/
.more-wikis-tab {
	float: initial;
	color: #fff;
	height: 31px;
	display: inline-block;
	font-size: 9.5pt;
	padding: 2px 1em;
	font-family: sans-serif;
	vertical-align: middle;
	line-height: 31px;
	font-weight: bold;
}

.more-wikis-tab:hover {
	background: #EF574F;
}

.navtab {
	float: initial;
	height: 31px;
	display: inline-block;
	font-size: 9.5pt;
	padding: 2px 1em;
	font-family: sans-serif;
	vertical-align: middle;
	line-height: 31px;
}

.navtab:hover {
	background: #EF574F;
}

.navtab a {
	color: #fff !important;
	text-decoration: none;
}

#more-wikis-menu {
	background-color: #FFF;
	border-bottom: 1px solid #D4DFD7;
	border-left: 1px solid #D4DFD7;
	border-right: 1px solid #D4DFD7;
	left: 8px;
	position: absolute;
	top: 35px;
	width: 292px;
	z-index: 6;
	padding: 5px 10px;
	font-size: 13px;
}

#more-wikis-menu a {
	display: block;
	border-bottom: 1px dashed #EAF0F1;
	float: left;
	width: 144px;
	color: #0099D9;
	line-height: 20px;
}

#main-body {
	padding-top: 35px;
}

/** Header **/
#header {
	position: fixed;
	background-color: #CF372F;
	top: 0px;
	height: 35px;
	width: 100%;
	z-index: 10;
}

.oo-ui-windowManager-modal-active #header {
	opacity: 0.5;
	top: -30px !important;
}

/** Site Header **/
#site-header {
	position: relative;
	width: 100%;
}

#site-logo {
	min-height: 150px;
	width: 200px !important;
}

#site-logo img {
	display: block;
	margin: auto;
}

#top-ad {
	position: absolute;
	top: 53px;
	left: 278px;
}

/** Body **/
#body-container {
	margin: 30px 10px 0px 220px;
	position: relative;
}

#body {
	top: 0px;
}

#content {
	font-family: sans-serif;
	background-color :#FFF;
	line-height: 1.5em;
	width: 100%;
}

#article-body {
	padding: 10px;
	border-left: 1px solid #D4DFD7;
	border-right: 1px solid #D4DFD7;
	border-bottom: 1px solid #D4DFD7;
}

#article-text {
	position: relative;
	width: 100%;
}

/** Side Bar **/
#side-bar {
	position: absolute;
	/*top: 163px;*/
	left: 10px;
	width: 200px;
}

#search-box {
	margin: 0px 0px 5px 0px;
	padding: 8px;
	border: 0;
	background-color: #e5eaf2;
	border-radius: 10px;
	height: auto;
	align-content: center;
	box-shadow: 2px 2px 5px #1117;
}

#search-box hr {
	margin: 0.4em 0 0.1em 0;
}

#search-box label {
	font-size: x-small;
	font-stretch: condensed;
	color: #858a92;
}

#search-title {
	color: #333;
	font-size: 14px;
	margin: 0px 0px 5px 0px;
}

input.search-field {
	float: left;
	height: 22px;
	color: #687F79;
	margin: 0;
	font-size: 95%;
	height: 1em;
	width: 178px !important;
	border: #aaa solid 1px;
	padding: 2px;
	border-radius: 2px;
}

input.go-button {
	float: right;
}

input.search-button {
	float: right;
}

/* Make the search suggestions readable, the default font size is too small */
.suggestions {
	font-size: 100% !important;
}

/** MENU **/
#menu {
	border-left: 1px solid #d4dfd7;
	border-right: 1px solid #d4dfd7;
}

.menu-item {
	position: relative;
	border-bottom: 1px dashed #EAF0F1;
	padding: 4px 0px 4px 5px;
	color: #333;
	z-index: 2;
	font-size: 12px;
	font-weight: bold;
}

.menu-item-3d {
	perspective: 240px;
	perspective-origin: right;
}

.menu-item a {
	color: #004999;
	text-decoration: none;
}

.menu-item a:visited {
	color: #004999;
	text-decoration: none;
}

.menu-item a:hover {
	color: #0160b7;
	text-decoration: none;
}

.menu-item .sub-menu-button {
	position: absolute;
	top: 8px;
	right: 5px;
}

.sub-menu-item .sub-menu-button {
	position: absolute;
	right: 5px;
	top: 7px;
}

.border-fix {
	border-bottom: none !important;
}

.sub-menu {
	position: absolute;
	top: -1px;
	right: -132px;
	background-color: #FFF;
	border: 1px solid #D4DFD7;
	padding: 5px 0px;
	width: 130px;
	z-index: 1;
}

.sub-menu-item {
	border-bottom: 1px dashed #EAF0F1;
	color: #333333;
	font-size: 12px;
	padding: 4px 10px;
	position: relative;
}

.sub-sub-menu {
	position: absolute;
	top: -27px;
	right: -300px;
	background-color: #FFF;
	padding: 5px 10px;
	border: 1px solid #D4DFD7;
	width: 130px;
	z-index: 1;
}

.sub-sub-menu-item {
	border-bottom: 1px dashed #EAF0F1;
	color: #333333;
	font-size: 12px;
}

/** Legacy **/
#title-linktabs {
	position: absolute;
	top: 5px;
	right: 0px;
}

#title-linktabs img {
	margin: 0px 0px 0px 3px;
}

.mediawiki {
	background: #f9f9f9 url(/w/skins/Cali/resources/img/headbg2.png) 0 0 no-repeat;
	background: linear-gradient(transparent,transparent),url(/w/skins/Cali/resources/img/headbg2.svg) 0 0 repeat-x;
}

/* Related Articles */
.read-more-container {
	margin: 0 !important;
	position: relative;
	background-color: #f7f9f8;
	border-left: 1px solid #d4dfd7;
	border-right: 1px solid #d4dfd7;
	border-bottom: 1px solid #d4dfd7;
	min-height: 140px;
}

.read-more-container h2 {
	font-size: 16px !important;
	color: #687f79 !important;
	margin: 0;
	padding: 0 0 5px 0 !important;
	border-bottom: none !important;
	text-transform: none !important;
	letter-spacing: 0 !important;
}

.read-more-container p {
	margin: 0 0 6px 0;
	font-size: 11px;
	line-height: 12px;
}

.ext-related-articles-card-list .ext-related-articles-card {
	background-color: #fff;
	box-sizing: border-box;
	margin: 0;
	height: 80px;
	position: relative;
	width: 100%;
	border: 1px solid rgba(0,0,0,0.2);
}

@media (min-width: 1080px) {
	.ext-related-articles-card-list .ext-related-articles-card {
		margin-right: 1%;
		margin-bottom: 10px;
		width: 32.66666667%;
	}
}

@media (min-width: 720px) and (max-width: 1080px) {
	.ext-related-articles-card-list .ext-related-articles-card {
		margin-right: 1%;
		margin-bottom: 10px;
		width: 49%;
	}
}

/* Other UI hacks */

.mw-rcfilters-ui-overlay,
.ve-ui-overlay {
	text-align: initial;
	font-size: initial;
}